PORT=5000
OPENAI_KEY=your_openai_api_key
FIREBASE_PROJECT_ID=cctcsafespace
GOOGLE_APPLICATION_CREDENTIALS=C:\\path\\to\\serviceAccount.json
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=
ADMIN_EMAILS=admin@cctc.edu
AZURE_FACE_API_KEY=
AZURE_FACE_ENDPOINT=
AZURE_FACE_PERSON_GROUP=cctc-safespace
